*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
html{
	/*   *****   Storing Colors In Variables   *****  */
	--body-clr: #2e2e2e;
	--primary-clr: #ff8552;
	--main-heading-clr: #fefefe;
	--links-clr: #c9c9c9;
	--text-clr: #888;
}
body{
	width: 100%;
	min-height: 100vh;
}
.travel{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: var(--body-clr);
	color: var(--main-heading-clr);
	padding: 0px 10%;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.travel .navbar{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	padding: 0px 10%;
	display: flex;
	align-items: center;
	z-index: 2;
}
.navbar .logo{
	display: flex;
	align-items: center;
}
.navbar .logo h1{
	font-size: 22px;
	font-weight: 600;
	color: var(--main-heading-clr);
	text-transform: uppercase;
	margin-left: 6px;
}
.navbar .logo i{
	color: var(--primary-clr);
	font-size: 18px;
}
.navbar ul.nav-links{
	list-style: none;
	margin-left: auto;
}
.navbar ul.nav-links li{
	display: inline-block;
	margin-right: 45px;
}
.navbar ul.nav-links li a{
	display: inline-block;
	text-decoration: none;
	color: var(--links-clr);
	transition: color 0.4s;
}
.navbar ul.nav-links li a:hover{
	color: var(--primary-clr);
}
.navbar .search-box{
	position: relative;
	width: 290px;
	height: 40px;
	background-color: var(--primary-clr);
	border-radius: 50px;
	margin-left: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
}
.navbar .search-box .search-btn{
	width: 40px;
	height: 40px;
	background-color: var(--primary-clr);
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 2;
	transition: 0.4s;
}
.navbar .search-box .search-btn i{
	color: var(--main-heading-clr);
}
.navbar .search-box .input-box{
	position: absolute;
	width: 200px;
	height: 100%;
	right: 20px;
	transform: scaleX(0);
	transform-origin: right;
	background-color: var(--main-heading-clr);
	color: #3e3e3e;
	font-size: 17px;
	outline: none;
	border: none;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
	transition: 0.4s;
}
.navbar .search-box:hover > .input-box{
	width: 200px;
	transform: scaleX(1);
	padding: 0px 25px 0px 10px;
}
.search-box .input-box:focus{
	width: 200px;
	transform: scaleX(1);
	padding: 0px 25px 0px 10px;
}
.navbar .menu-btn{
	margin-left: 30px;
	cursor: pointer;
	user-select: none;
	display: none;
}
.navbar .menu-btn .bar{
	display: block;
	width: 26px;
	height: 3px;
	background-color: var(--main-heading-clr);
	margin: 5px auto;
	border-radius: 5px;
	transition: all 0.3s cubic-bezier(1, 0.3, 0.3, 1);
}
.travel .travel-text{
	position: relative;
	padding-top: 18px;
	z-index: 1;
}
.travel .travel-text h2{
	font-size: 22px;
	letter-spacing: 1px;
	color: var(--main-heading-clr);
}
.travel .travel-text h1{
	position: relative;
	font-size: 45px;
	color: var(--main-heading-clr);
	margin: 12px 0px;
}
.travel .travel-text h1::before{
	content: '';
	position: absolute;
	height: 3px;
	width: 40px;
	background-color: var(--primary-clr);
	left: 0;
	top: 120%;
}
.travel .travel-text p{
	max-width: 500px;
	color: var(--text-clr);
	margin: 35px 0px;
	line-height: 1.2;
}
.travel .travel-text button{
	background-color: var(--primary-clr);
	color: var(--main-heading-clr);
	text-transform: uppercase;
	font-size: 17px;
	padding: 10px 20px;
	border: none;
	border-radius: 25px;
	box-shadow: 10px 10px 22px -1px rgba(0, 0, 0, 0.55);
	cursor: pointer;
	transition: all 0.4s;
}
.travel .travel-text button:hover{
	box-shadow: 5px 5px 14px -1px rgba(0, 0, 0, 0.40);
}
.travel-text .social-media-icons{
	position: relative;
	top: 100px;
	right: 110px;
}
.travel-text .social-media-icons::before{
	content: '';
	position: absolute;
	width: 100px;
	height: 1px;
	background-color: var(--text-clr);
	top: 50%;
	transform: translateY(-100%);
	left: -110px;
}
.travel-text .social-media-icons a{
	text-decoration: none;
	color: var(--text-clr);
	margin-right: 20px;
}
.social-media-icons a i{
	font-size: 18px;
	transition: 0.4s;
}
.social-media-icons a i:hover{
	color: var(--primary-clr);
	transform: scale(1.2);
}
.travel .travel-image{
	position: absolute;
	width: 1100px;
	height: 450px;
	background-color: black;
	transform: rotate(-50deg);
	right: -400px;
	top: -100px;
	border-top-left-radius: 220px;
	border-bottom-left-radius: 220px;
	overflow: hidden;
	z-index: 0;
}
.travel .bg img{
	position: absolute;
	width: 100%;
	height: 180%;
	object-fit: cover;
	top: -50px;
	right: 200px;
	transform: rotate(50deg);
}
/* .row{
	position: absolute;
	padding: 20px;
	width: 500px;
} */

@media(max-width: 768px){
	.travel{
		padding: 0px 8%;
	}
	.travel .navbar{
		padding: 0px 8%;
	}
	.navbar ul.nav-links{
		position: fixed;
		width: 260px;
		height: 100vh;
		top: 0;
		right: -260px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #1a1a1a;
		transition: right 0.3s cubic-bezier(1, 0.3, 0.3, 1);
		z-index: 100;
	}
	.navbar ul.nav-links.active{
		right: 0;
	}
	.navbar ul.nav-links li{
		margin: 25px 0px 0px;
	}
	.navbar ul.nav-links li:nth-child(1){
		margin-top: 180px;
	}
	.navbar ul.nav-links li a{
		font-size: 18px;
		letter-spacing: 2px;
	}
	.navbar .menu-btn{
		display: block;
		margin-left: 40px;
		z-index: 101;
	}
	.navbar .menu-btn.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}
	.navbar .menu-btn.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}
	.navbar .menu-btn.active .bar:nth-child(2){
		transform: translateX(-30px);
		opacity: 0;
	}

	.navbar .search-box{
		margin-left: auto;
	}
	.travel .travel-image img{
		opacity: 0.3;
	}
}
.about{
    width: 100vw;
	height: 100vh;
    padding: 78px 100px;
    background-color: #191919;
}
.about img{
    height: 300%;
    width: 400px;
	padding: -190px;
}
.about-text{
    width: 700px;
}
.main{
    width: 1330px;
    max-width: 95%;
    margin: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text h1{
    color: #fff;
    font-size: 100px;
    text-transform: capitalize;
    margin-bottom: 120px;
}
.about-text h5{
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 70px;
    letter-spacing: 2px;
}
span{
    color: #f9004d;
}
.about-text{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 50px;
    font-size: 25px;
    margin-left: 90px;
}
/* .footer{
	width: 100%;
    padding: 78px 0px;
    background-color: #191919;
}
.footer p{
	width: 100px;
	margin-left: 600px;
} */